body {
	font-family: 'Inconsolata', monospace;
	color: blue;
	width: 95%;
	margin: 0 auto;
	padding: 0%;
	line-height: 1.6em;
	text-align: center;
	height: 3000px;    
}



.topArea{
    background-color: rgb(1, 1, 29);
    height: 300px;    
}

img{
    padding: 5%;
    height: 200px;
    width: 250px;
}

.titulo{
   padding: 0%;
}
/*
.menu-section{
    padding: 0%;
    background-color: brown;
    margin: 0 auto;
}
*/
.main{
    padding: 0%;
   /* background-color: white; */
}

/*============================================== MENU ==============================================*/

.menu-section {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dcdde1;
}

.menu li a {
    text-decoration: none;
    color: #343b48;
    padding: .6em 1em;
    display: block;
    transition: all .5s ease;
}

.menu li a:hover{
    background-color: rgb(8, 2, 39);
    color: burlywood;
}

/*============================================== Main ==============================================*/

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px; 
   width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #343b48;
    color: white;
    text-align: center;
}



styled-table th,
.styled-table td {
    padding: 12px 15px;
}

styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

tr:hover {background-color:#b31c1c;}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/*============================================== @Media ==============================================*/

@media screen and (min-width: 600px) {
    .single-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .single-nav ul li{
       flex-grow: 1;
       flex-basis: auto;
       flex-shrink: 0;
    }

    .maincontainer{
        display: flex;
        justify-content: space-around;
    }

    table{
        padding-left: 2%;
    }

}




@media screen and (max-width: 600px) {
    .topArea{
        background-color: rgb(8, 2, 39);
        height: 200px;
    }
    .titulo{
        padding: 10%;
     }

     img{
        padding: 0px;
        height: 100px;
        width: 125px;
    }

    .styled-table {
        width: 100%;
    }
    

    
}